<tr>
	<td><a href="{{ url_for('stations.edit', id=station.id) }}">{{ station.id }}</a></td>
	<td><a href="{{ url_for('stations.station', id=station.id) }}">{{ station.name }}</a></td>
	<td>
	    {% if not current_user.is_admin %}
	    <a class="btn btn-primary pull-right" href="{{ url_for('stations.edit', id=station.id) }}">{{ _('Edit') }}</a>
	    {% else %}
	    <a class="btn btn-danger pull-right" href="{{ url_for('stations.delete', id=station.id) }}">{{ _('Delete') }} </a>
	    <a class="btn btn-primary pull-right" href="{{ url_for('stations.edit', id=station.id) }}">{{ _('Edit') }} </a>
	    {% endif %}
	</td>	  			
</tr>
