{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    {% include "products/_product_header.html" %}
</div>

<div class="product-body">
	<h3 id="comments">{{ _('Product Overview') }}</h3>
	    {% if product.type %}
		    <div class="product-main">
		    {{ _('Type') }}: {{ product.type | safe }}
		    </div>
	    {% endif %}
	    {% if product.serial %}
		    <div class="product-main">
		    	{{ _('Serial') }}: {{ product.serial | safe }}
		    </div>
	    {% endif %}
	    {% if product.year %}
		    <div class="product-main">
		    	{{ _('Year') }}: {{ product.year | safe }}
	    	</div>
	    {% endif %}
	    {% if product.week %}
		    <div class="product-main">
		    	{{ _('Week') }}: {{ product.week | safe }}
	    	</div>
	    {% endif %}
	    {% if product.date_added %}
		    <div class="product-main">
		    	{{ _('Date Added') }}: {{ product.date_added | safe }}
	    	</div>
	    {% endif %}
	<h3 id="comments">{{ _('Status Overview') }}</h3>
	<table cellspacing="1" id="statuses" class="statuses tablesorter">
		<thead>
	   		<tr>
	            <th>{{ _('Station Id') }}</th>
	            <th>{{ _('Station Name') }}</th>
	            <th>{{ _('Status Name') }}</th>
	            <th>{{ _('Date') }}</th>
	        </tr>
        </thead>
        <tbody>
			{% for status in product.statuses %}
   			<tr>
				<td>{{ status.station.id }} </td>
    			<td>{{ status.station.name }} </td>
    			<td>{{ status.status_name.name }} </td>
    			<td>{{ status.date_time }} </td>
   			</tr>
			{% endfor %}
        </tbody>
    </table>

	<h3 id="comments">{{ _('Operation Overview') }}</h3>
	<table cellspacing="1" id="operations" class="tablesorter">
		<thead>
	   		<tr>
	            <th>{{ _('Station Id') }}</th>
	            <th>{{ _('Station Name') }}</th>
	            <th>{{ _('Operation Name') }}</th>
	            <th>{{ _('Overall Status') }}</th>
	            <th>{{ _('Date') }}</th>
	            <th>{{ _('Operation Measurment') }}:<br/>{{ _('Result | Max | Min | Status') }}</th>
	        </tr>
        </thead>
        <tbody>
			{% for operation in product.operations|sort %}
    		<tr>
    			<td>{{ operation.station_id }}</td>
    			<td>{{ operation.station.name }}</td>
    			<td>{{ operation.operation_type.name }}</td>
    			<td>{{ operation.operation_status.name }}</td>
    			<td>{{ operation.date_time }} </td>
    			<td>
    				<table id="result" class="operation_data">
			        	<tbody>
			    			{% if operation.result_1 %}
			    				<tr><td>{{ operation.result_1}}</td><td>{{ operation.result_1_max}}</td><td>{{ operation.result_1_min}}</td><td>{{ operation.result_1_status.name}}</td></tr>
			    			{% endif %}
			    			{% if operation.result_2 %}
			    				<tr><td>{{ operation.result_2}}</td><td>{{ operation.result_2_max}}</td><td>{{ operation.result_2_min}}</td><td>{{ operation.result_2_status.name}}</td></tr>
			    			{% endif %}
			    			{% if operation.result_3 %}
			    				<tr><td>{{ operation.result_3}}</td><td>{{ operation.result_3_max}}</td><td>{{ operation.result_3_min}}</td><td>{{ operation.result_3_status.name}}</td></tr>
			    			{% endif %}
	    		        </tbody>
    				</table>
    			</td>
    		</tr>
			{% endfor %}
		</tbody>
	</table>


 	{% if product.statuses %}
 		<div>
 		</div>
 	{% endif %}

</div>
	{% if comments %}
		<h3 id="comments">{{ _('Comments') }}</h3>
		{% include "products/_comments.html" %}
		<ul class="pager">
		    {% if pagination.has_prev %}
			    <li class="previous"><a href="{{ url_for('products.product', id=product.id, page=pagination.prev_num) }}#comments">&larr; {{ _('Older') }}</a></li>
			    {% else %}
			    <li class="previous disabled"><a href="#">&larr; {{ _('Older') }}</a></li>
			    {% endif %}
		    {% if pagination.has_next %}
			    <li class="next"><a href="{{ url_for('products.product', id=product.id, page=pagination.next_num) }}#comments">{{ _('Newer') }} &rarr;</a></li>
			    {% else %}
			    <li class="next disabled"><a href="#">{{ _('Newer') }} &rarr;</a></li>
		    {% endif %}
		</ul>
	{% endif %}
	{% if form %}
		<h3 id="comment-form">{{ _('Write a comment') }}</h3>
		{{ wtf.quick_form(form, action='#comment-form') }}
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ pagedown.include_pagedown() }}
	<script src="/static/jquery.autosize.min.js"></script>
	<script>
	    $(document).ready(function() {
	        $('#flask-pagedown-body').autosize();
	    });
	</script>
	<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function()
		    {
				$("#statuses").tablesorter();
		        $("#operations").tablesorter();
		    }
		);
	</script>
	{% include "_api_client.html" %}
{% endblock %}
